.contentContainer {
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.774);  
    display: flex;
    justify-content: center;
}

.ContentCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
    flex: 1 0 0 calc(25% - 1em);
    margin: 0 8vw; 
    width: 75vw;
    height: 75vh;
    border-radius:12px;
    color: rgb(109,105,95);
    background-color: rgba(0, 0, 0, 0.562);
    box-shadow: 
        0px 2px 5px 1px rgba(255, 255, 255, 0.051),
        0px 4px 12px 1px rgba(255, 255, 255, 0.151),
        0px 6px 15px 1px rgba(87, 87, 87, 0.121),
        0px 8px 18px 1px rgba(82, 87, 87, 0.151),
        0px 10px 20px 1px rgba(82, 87, 87, 0.181);
}