 .portfolio {
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.774);
    display: flex;
    justify-content: center;
 }
  
.portfolio-card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
    flex: 1 0 0 calc(25% - 1em);
    margin: 0 8vw; 
    width: 75vw;
    height: 75vh;
    border-radius:12px;
    color: rgb(109,105,95);
    background-color: rgba(0, 0, 0, 0.562);
    box-shadow: 
        0px 2px 5px 1px rgba(255, 255, 255, 0.051),
        0px 4px 12px 1px rgba(255, 255, 255, 0.151),
        0px 6px 15px 1px rgba(87, 87, 87, 0.121),
        0px 8px 18px 1px rgba(82, 87, 87, 0.151),
        0px 10px 20px 1px rgba(82, 87, 87, 0.181);
}

.portfolio-title {
  position: relative;
  top: -4vh;
  margin: 0;
  text-shadow: 3px 2px 2px rgb(0, 0, 0)
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 75vw;
}

.flip-card {
  margin: .5vw;
  background-color: transparent;
  width: 24vw;
  height: 25vh;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

img:hover {
  cursor: pointer;
}

.flip-card-back {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(195, 190, 190);
  transform: rotateY(180deg);
}

.flip-card-back a {
  text-decoration: none;
  color: rgba(245, 173, 66, 0.781);
}

.flip-card-back a:hover {
  text-decoration: none;
  transition: 0.8s;
  color: rgb(195, 190, 190);
}