.resume {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.774);
}

.resume-card-body {
    display: grid;
    align-items: center;
    align-self: center;
    margin: 0 2vw;
    padding: 20px;
    grid-gap: 20px;
    box-shadow: 
    0px 2px 5px 1px rgba(255, 255, 255, 0.051),
    0px 4px 12px 1px rgba(255, 255, 255, 0.151),
    0px 6px 15px 1px rgba(87, 87, 87, 0.121),
    0px 8px 18px 1px rgba(82, 87, 87, 0.151),
    0px 10px 20px 1px rgba(82, 87, 87, 0.181);
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 12px;
}

.resume-card {
    justify-self: center;
    grid-gap: 20px;
}

.resumeTitle {
    grid-column: 1 / span 3;
}

.resume-img {
    width: 30vw;
    border-radius: 8px;
}

.skillsCard {
    display: grid;
    justify-content: space-evenly;
    height: 100%;
}

h5, .resumeTitle, .languages, .tools {
    color: rgb(109,105,95);
    text-shadow: 3px 2px 2px rgb(0, 0, 0);
    list-style: none;
}

ul {
    padding: 0;
}

@media screen and (max-width: 1200px) {

    .resume {
        height: auto;
        background-color: rgb(0, 0, 0);
    }

    .resume-card-body {
        grid-template: 1fr / repeat(1, 1fr); 
        grid-gap: 10px;
        height: 100%;
        margin: 0;
        border-radius: 0;
    }

    .skillsCard {
        grid-template: 1fr / repeat(2, 1fr);
        justify-items: center;
        gap: 20px;
    }

    .resumeTitle, a, .resume-img {
        grid-column: 1 / span 3;
        justify-self: center;
    }

    .resumeTitle {
        padding: 2vh 0;
        margin: 0;
        text-align: center;
    }

    .languages, .tools {
        grid-row: 3 / 4;
    }
    .resume-img {
        grid-row: 2 / 3;
        /* margin-bottom: 5vh; */
    }

    .resume-img {
        width: 95vw;
    }
}

@media screen and (max-width: 600px) {
    
    .resume {
        height: auto;
        background-color: rgb(0, 0, 0);
    }

    .skillsCard {
        grid-template: 1fr / repeat(2, 1fr);
        gap: 20px;
    }

    .resumeTitle {
        padding: 1vh 0;
        margin: 0;
    }
}