.about {
    display: grid;
    justify-content: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.774);  
}

.about-card-body {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    gap: 1em;
    padding: 4vh;
    align-self: center;
    align-items: center;
    width: 75vw;
    border-radius:12px;
    color: rgb(109,105,95);
    background-color: rgba(0, 0, 0, 0.562);
    text-shadow: 3px 2px 2px rgb(0, 0, 0);
    box-shadow: 
        0px 2px 5px 1px rgba(255, 255, 255, 0.051),
        0px 4px 12px 1px rgba(255, 255, 255, 0.151),
        0px 6px 15px 1px rgba(87, 87, 87, 0.121),
        0px 8px 18px 1px rgba(82, 87, 87, 0.151),
        0px 10px 20px 1px rgba(82, 87, 87, 0.181);
}

.about-title {
    margin: 0;
    grid-column: 1 / 4;
}

.about-card-body img {
    width: 38vw;
    height: 30vh;
    border-radius: 10px;
}

.about-card-body-content {
    font-size: 1rem;
    text-shadow: 3px 2px 2px rgb(0, 0, 0);
}

.hi-there {
    font-size: 1.2rem;
    font-weight: 800;
}

@media screen and (max-width: 1200px) {
    .about-title {
       grid-column: 1 / 1;
    }

    .about-card-body {
        grid-template: 100px / auto;
        justify-items: center;
        align-content:start;
        width: 100vw;
        height: 90vh;
        border-radius: 0;
        padding: 20px;
    }

    .about-card-body img {
        height: auto;
        width: 95vw;
    }
}

@media screen and (max-width: 600px) {

    .about {
        height: auto;
        background-color: rgb(0, 0, 0);
    }

    .about-title {
        justify-self: center;
        margin: 0;
        grid-column: 1 / 1;
    }

    .about-card-body {
        grid-template: 50px / auto;
        justify-content: center;
        height: auto;
        padding: 20px;
    }

}