.portModal {
    display: grid;
    align-self: center;
    gap: 20px;
    width: auto;
    height: auto;
    border-radius:12px;
    color: rgb(0, 0, 0);
    background-color: rgb(109,105,95);
    margin-top: -10vh;
    padding: 6vh;
}

.portModal p, .portModal h5 {
    color: rgb(0, 0, 0);
    text-shadow: none;
}

.portModal p {
    grid-column: 1 / 3;
}

.modalTitle {
    font-weight: 800;
}

.portModal p, .techList li {
    font-size: 1rem;
}

.techList li {
    list-style: none;
}

.deployBtn, .repoBtn {
    border: 1px solid rgb(0, 0, 0);
    grid-column: 1 / 2;
}

.deployBtn {
    grid-column: 1 / 2;
    justify-self: right;
}

.repoBtn {
    grid-column: 2 / 3;
}

.deployBtn a, .repoBtn a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: none;
}

@media screen and(max-width: 600px) {
    .deployBtn {
        grid-column: 1 / 3;
    }
}