.portModal {
    display: flex; 
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
   
    width: clamp(50%, 50vw, 90%);
    height: min(50%, 45vh);

    margin: auto;
    padding: 0 2rem;
    border-radius:12px;
    color: rgb(0, 0, 0);
    background-color: rgb(109,105,95);
}

.portModal p, .portModal h5 {
    color: rgb(0, 0, 0);
    position: relative;
    top: 4.5vh;
    text-shadow: none;
}

.portModal p {
    width: 25vw;
}

.modalTitle {
    font-weight: 800;
    width: 10vw;
}

.portModal aside {
    display: flex;
}

.portModal h5 {
    position: absolute;
    top: 4.5vh;
    right: 12.5vh;
}

.portModal p, .techList li {
    font-size: 2.5vh;
}

.techList li {
    top: 9vh;
    padding: 0;
    list-style: none;
}

.deployBtn {
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
    bottom: 6vh;
    left: 7vw;
}

.repoBtn {
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
    bottom: 6vh;
    left: 19vw;
}

.deployBtn a, .repoBtn a {
    color: rgb(0, 0, 0);
    text-shadow: none;
    top: 0;
}