.main-container {
    height: 100vh;
}

.background-image {
    background: url(./images/sambishop-compressed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.introContainer {
    position: absolute;
    cursor: default;
    top: 29.5vh;
    left: 25vw;
}

.introContainer h1 {
    color: rgb(0, 0, 0);
    font-weight: 800;
    text-shadow: 1px 1px 1px rgb(68, 62, 62);
    margin: 1vh 0 0 0;
}

.introName {
    padding: 0 0 0 1.75vw;
}