.main-container {
    height: 100vh;
}

.background-image {
    background: url(./images/sambishop.jpg);
     /* background: url(https://www.w3schools.com/howto/img_parallax.jpg);
     */ background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}