.main-container {
    height: 100vh;
}

.background-image {
    background: url(./images/sambishop-compressed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.introContainer {
    position: absolute;
    top: 13vh;
    left: 8.75vw;
}

.introContainer h2 {
    color: rgb(66, 65, 61);
    font-weight: 800;
    text-shadow: 1px 1px 1px rgb(45, 43, 43);
    margin: 1vh 0 0 0;
}

