.contact {
  display: grid;
  justify-content: center;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.774);  
  }
  
.contact-card-body {
    display: grid;
    align-self: center;
    border-radius: 12px;
    color: rgb(109,105,95);
    background-color: rgba(0, 0, 0, 0.562);
    box-shadow: 
      0px 2px 5px 1px rgba(255, 255, 255, 0.051),
      0px 4px 12px 1px rgba(255, 255, 255, 0.151),
      0px 6px 15px 1px rgba(87, 87, 87, 0.121),
      0px 8px 18px 1px rgba(82, 87, 87, 0.151),
      0px 10px 20px 1px rgba(82, 87, 87, 0.181);
}

.contact-section {
  font-size: 2.5vh;
  margin: 1vh 0 0 0;
}

.title {
  text-shadow: 3px 2px 2px rgb(0, 0, 0)
}

.section-title {
  padding: 5vh 0 0 0;
}

.section-title p h2 {
  text-shadow: 1px 2px 2px rgb(0, 0, 0)
}

hr {
  margin: 1vh;
}

#name, #email {
  margin: 2vh 0 0 0;
}

#id, #subject, #message {
    margin: 2vh 0;
}
#name:focus, #email:focus, #id:focus, #subject:focus, #message:focus {
  box-shadow: 0 0 0 .15rem rgb(109,105,95);
}

#message {
  min-height: 15vh;
  max-height: 20vh;
}

button {
  width: 10vw;
  height: 5.5vh;
  color: rgb(109,105,95);
  border-radius: 20px;
  border: 1px solid rgb(109,105,95);
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 3px 2px 2px rgb(0, 0, 0);
}

button:hover {
  background-color:rgb(49, 47, 47);
  transition: 1000ms;
  box-shadow: 0px 0px 2px 1px rgb(109,105,95);
}

@media screen and (max-width: 1200px) {
  
  .contact-card-body {
    height: 100%;
    width: 100vw;
    border-radius: 0;
  }

  .section-title {
    padding: 0;
  }

  .title {
    text-align: center;
    padding: 2vh 0;
  }

  button {
    width: 20vw;
    height: 5vh;
    border-radius: 30px;
  }
}

@media screen and (max-width: 600px) {
  
  .contact-section {
    font-size: 1rem;
    margin: 0;
  }

  .contact-card-body {
    padding: 20px;
  }

  .title, .section-title p {
    text-align: center;
  }

  .title {
    margin: 0;
  }

  button {
    width: 25vw;
    height: 5vh;
    border-radius: 25px;
  }

}