/*! NAVBAR */

nav {
  position: fixed;
  display: inline;
  width: 100vw;
  height: 10vh;
  top: 0;
  background-color: rgba(245, 173, 66, 0.781);
  box-shadow: 
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-container {
  display: flex;
  height: 100%;
  justify-content: left;
  align-items: center;
  padding: 0 0 0 1vw;
}

.nav-container li {
  list-style: none;
  cursor: pointer;
  align-self: center;
  padding: 0 2vw .5rem 2vw;
}

.nav-container a {
  font-weight: bold;
  text-decoration: none;
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
}

.nav-container a:visited {
  color: black;
}
  
.nav-container a:focus {
  color: rgb(109,105,95);
}
  