.introContainer {
    position: absolute;
    cursor: default;
    top: 29.5vh;
    left: 25vw;
}

.introContainer h1 {
    color: rgb(0, 0, 0);
    font-weight: 800;
    text-shadow: 1px 1px 1px rgb(68, 62, 62);
    margin: 1vh 0 0 0;
}

.introName {
    padding: 0 0 0 1.75vw;
}