body {
  margin: 10vh 0 0 0;
  font-family: Roboto;
 /*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  overflow-y: hidden;
  background-color: rgb(236,235,241);
  height: 90vh;
}

body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* 
nav {
  position: fixed;
  display: inline;
  width: 100vw;
  height: 10vh;
  top: 0;
  background-color: rgba(245, 173, 66, 0.781);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.nav-container {
  display: flex;
  height: 100%;
}

.nav-container a {
  font-weight: bold;
  text-decoration: none;
  height: 100%;
  padding: 1.5%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
}

.nav-container a:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.247);
  transition: .75s;
}

.nav-container a:visited {
  color: black;
}
 */
/*! BACK TO HOME */

/* .back {
  cursor: pointer;
  position: absolute;
  top: 13vh;
  left: 1.75vw;
  display: block;
}
 */
/*! TOOLTIP */

/* .tool-tip .tool-tip-text {
  visibility: hidden;
  position: absolute;
  font-size: .75vw;
  font-weight: bold;
  width: 6vw;
  top: 10vh;
  right: -2vw;
  padding: 1vh 0;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: 8px;
}

.tool-tip:hover .tool-tip-text{
  visibility: visible;
}

.tool-tip .tool-tip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 33%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(255, 255, 255) transparent;
}
 */
/*! MAIN CONTAINER */

/* .main-container {
  height: 100vh;
} */

/*! BG IMAGE  */

/* .background-image {
  background: url(https://www.w3schools.com/howto/img_parallax.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
} */

/*! ABOUT / CONTACT */

/* .contact {
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.774);  
  display: flex;
  justify-content: center;
}

.contact-card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
  flex: 1 0 0 calc(25% - 1em);
  margin: 0 6vw 0 8vw; 
  width: 75vw;
  height: 75vh;
  border-radius:12px;
  color: rgb(109,105,95);
  background-color: rgba(0, 0, 0, 0.562);
  box-shadow: 
    0px 2px 5px 1px rgba(255, 255, 255, 0.051),
    0px 4px 12px 1px rgba(255, 255, 255, 0.151),
    0px 6px 15px 1px rgba(87, 87, 87, 0.121),
    0px 8px 18px 1px rgba(82, 87, 87, 0.151),
    0px 10px 20px 1px rgba(82, 87, 87, 0.181);
} */

/* .about-card-img img {
  width: 40vw;
  height: auto;
  border-radius: 10px;
  box-shadow: 
    0px 4px 10px 1px rgb(0, 0, 0),
    0px 4px 10px 1px rgb(0, 0, 0),
    0px 6px 10px 1px rgb(0, 0, 0);
}

.about-card-body-content {
  font-size: 1.2vw;
  margin: 2vh 0 0 0;
  padding: 1vh 0 0 0;
  width: 35vw;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.11);

} */
/* 
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 75vw;
}

.card {
  flex: 0 1 calc(33% - 1em);
  margin: 1% 0;
  border: none;
  background-color: transparent;
}

.cards .card img {
  border-radius: 8px;
  box-shadow: 
    0px 4px 10px 1px rgb(0, 0, 0),
    0px 4px 10px 1px rgb(0, 0, 0),
    0px 6px 10px 1px rgb(0, 0, 0);
} */

/* .resume-img {
  width: 25vw;
  border-radius: 8px;
}

.resume-card {
  box-shadow: 
    0px 4px 10px 1px rgba(0, 0, 0, 0.123),
    0px 4px 10px 1px rgb(0, 0, 0, 0.123),
    0px 6px 10px 1px rgb(0, 0, 0, 0.123);
} */

/*! FOOTER */

/* footer {
  font-size: 2.5vh;  
  color: black;
  font-weight: bold;
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: -1vh;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.151);
} */